@charset "UTF-8";

$baseFontSize: 16px;
$baseFontSize-mobile: 15px;

$max-width: 1280px;
$min-pc-width: 1279px;
$small-pc-width: 1080px;
$tiny-pc-width: 920px;
$break-width: 821px;
$tablet-width: 767px;
$wide-mobile-width: 500px;
$mobile-width: 450px;
$small-mobile-width: 400px;
$tiny-mobile-width: 346px;

$global-horizontal-padding: 20px;
$content-max-width: 1080px;
$content-vertical-top-padding-pc: 120px;
$content-vertical-padding-pc: 300px;
$content-vertical-top-padding-mobile: 80px;
$content-vertical-padding-mobile: 120px;
$header-height-pc: 80px;
$header-height-mobile: 62px;

$webapp-content-max: 700px;

$baseColor: #0A0C0E;
$neonGreen: #1EEEAF;
$lightGaryColor: #D3D3D3;
$garyColor: #BBBBBB;
$grayCool: #4C525B;
$gray500 : #646469;
$borderColor: #222426;
$warnColor: #FF4848;
$cautionColor: #FFC400;



