@charset "UTF-8";

@mixin tiny-mobile {
  @media (max-width: #{$tiny-mobile-width}) {
    @content;
  }
}

@mixin small-mobile {
  @media (max-width: #{$small-mobile-width}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin wide-mobile {
  @media (max-width: #{$wide-mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin break {
  @media (max-width: #{$break-width}) {
    @content;
  }
}

@mixin tiny-pc {
  @media (max-width: #{$tiny-pc-width}) {
    @content;
  }
}

@mixin small-pc {
  @media (max-width: #{$small-pc-width}) {
    @content;
  }
}

@mixin min-pc {
  @media (max-width: #{$min-pc-width}) {
    @content;
  }
}

@mixin font-size($px) {
  @media (max-width: #{$mobile-width}) {
		font-size: 20px;
    @content;
  }

  & {
    font-size: 16px;
  }
}

@mixin background-image($path: null, $image) {
	background-repeat: no-repeat;
	background-size: cover;
	@if ($path == null) {
		background-image: url(../assets/image/#{$image}.png);
    
		
	} @else {
    background-image: url(../assets/image/#{$path}/#{$image}.png);
  }
}

@mixin max-width($width) {
  @media (max-width: #{$width}) {
    @content;
  }
}

@mixin textHeading($type) {
  @if ($type == textHeading1) {
    @include font-size(76px);
    & {
      line-height: normal;
      letter-spacing: 0;
      font-family: 'Mondwest-R';
    }
  } @else if ($type == textHeading2) {
    @include font-size(50px);
    & {
      line-height: 62px;
      letter-spacing: 0.03em;
      font-family: 'Mondwest-R';
    }
  } @else if ($type == textHeading3) {
    @include font-size(40px);
    & {
      line-height: 52px;
      letter-spacing: 0.03em;
      font-family: 'Mondwest-R';
    }
  }

  @include break {
    @if ($type == textHeading1) {
      @include font-size(50px);
      & {
        line-height: normal;
        letter-spacing: 0;
        font-family: 'Mondwest-R';
      }
    } @else if ($type == textHeading2) {
      @include font-size(40px);
      & {
        line-height: 49px;
        letter-spacing: 0.03em;
        font-family: 'Mondwest-R';
      }
    } @else if ($type == textHeading3) {
      @include font-size(30px);
      & {
        line-height: 38px;
        letter-spacing: 0.03em;
        font-family: 'Mondwest-R';
      }
    }
  }

  @include mobile {
    @if ($type == textHeading1) {
      @include font-size(36px);
      & {
        line-height: 44px;
        letter-spacing: 0.03em;
        font-family: 'Mondwest-R';
      }
    } @else if ($type == textHeading2) {
      @include font-size(36px);
      & {
        line-height: 44px;
        letter-spacing: 0.03em;
        font-family: 'Mondwest-R';
      }
    } @else if ($type == textHeading3) {
      @include font-size(24px);
      & {
        line-height: 30px;
        letter-spacing: 0.03em;
        font-family: 'Mondwest-R';
      }
    }
  }
}

@mixin textSubTitle($type) {
  @if ($type == textSubTitle1) {
    @include font-size(36px);
    & {
      line-height: 40px;
      letter-spacing: 0.03em;
      font-family: 'Mondwest-R';
    }
  } @else if ($type == textSubTitle2) {
    @include font-size(30px);
    & {
      line-height: 32px;
      letter-spacing: 0.03em;
      font-family: 'Mondwest-R';
    }
  } @else if ($type == textSubTitle3) {
    @include font-size(24px);
    & {
      line-height: normal;
      letter-spacing: -0.01em;
      font-family: 'SF-Pro-SB';
    }
  }

  @include break {
    @if ($type == textSubTitle1) {
      @include font-size(30px);
      & {
        line-height: 32px;
        letter-spacing: 0.03em;
        font-family: 'Mondwest-R';
      }
    } @else if ($type == textSubTitle2) {
      @include font-size(26px);
      & {
        line-height: 28px;
        letter-spacing: 0.03em;
        font-family: 'Mondwest-R';
      }
    } @else if ($type == textSubTitle3) {
      @include font-size(20px);
      & {
        line-height: normal;
        letter-spacing: -0.01em;
        font-family: 'SF-Pro-SB';
      }
    }
  }

  @include mobile {
    @if ($type == textSubTitle1) {
      @include font-size(20px);
      & {
        line-height: 28px;
        letter-spacing: 0.03em;
        font-family: 'Mondwest-R';
      }
    } @else if ($type == textSubTitle2) {
      @include font-size(20px);
      & {
        line-height: 28px;
        letter-spacing: 0.03em;
        font-family: 'Mondwest-R';
      }
    } @else if ($type == textSubTitle3) {
      @include font-size(16px);
      & {
        line-height: normal;
        letter-spacing: -0.01em;
        font-family: 'SF-Pro-SB';
      }
    }
  }
}

@mixin textBody($type) {
  @if ($type == textBody1) {
    @include font-size(16px);
    & {
      line-height: 30px;
      letter-spacing: -0.01em;
      font-family: 'SF-Pro-R';
    }
  } @else if ($type == textBody2) {
    @include font-size(16px);
    & {
      line-height: normal;
      letter-spacing: -0.01em;
      font-family: 'SF-Pro-M';
    }
  } @else if ($type == textBody3) {
    @include font-size(16px);
    & {
      line-height: normal;
      letter-spacing: -0.01em;
      font-family: 'SF-Pro-M';
    }
  }

  @include mobile {
    @if ($type == textBody1) {
      @include font-size(15px);
      & {
        line-height: 27px;
        letter-spacing: -0.01em;
        font-family: 'SF-Pro-R';
      }
    } @else if ($type == textBody2) {
      @include font-size(15px);
      & {
        line-height: normal;
        letter-spacing: -0.01em;
        font-family: 'SF-Pro-M';
      }
    } @else if ($type == textBody3) {
      @include font-size(12px);
      & {
        line-height: normal;
        letter-spacing: -0.01em;
        font-family: 'SF-Pro-M';
      }
    }
  }
}

@mixin textCaption() {
  @include font-size(12px);
  & {
    line-height: 18px;
    letter-spacing: -0.01em;
    font-family: 'SF-Pro-M';
  }

  @include mobile {
    @include font-size(10px);
    & {
      line-height: 16px;
      letter-spacing: -0.01em;
      font-family: 'SF-Pro-M';
    }
  }
}

@mixin textButton() {
  @include font-size(16px);
  & {
    line-height: normal;
    letter-spacing: -0.01em;
    font-family: 'SF-Pro-SB';
  }

  @include mobile {
    @include font-size(14px);
    & {
      line-height: normal;
      letter-spacing: -0.01em;
      font-family: 'SF-Pro-SB';
    }
  }
}

